html{
	font-size: 62.5%;
}
body{
	margin: 0;
	font-family: arial, Helvetica, sans-serif;
	font-size: 1.4em;
	line-height: 1.3;
}
.clearfix{
	&:after{
		content: '';
		height:0;
		font-size: 0;
		width: 100%;
		display: block;
		clear:both;
	}
}